<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
</head>
<body>


2
<p>有人把我们的头部比作雷达</p>
<p>颈椎比作雷达支架我认为这非常贴切头部载有我们的听觉、嗅觉、视觉和味觉器官是我们感知外界最重要的“探测器”而颈椎既要支撑头部还要辅助头部运动，以方便头部器官的信息获取但是如果总是朝一个方向用力“雷达支架”也会出现问题比如</p>
<img>
<p>聚精会神工作，头部不由自主前倾</p>
<img>
<p>全神贯注看手机，头部不由自主前倾</p>
<p style="text-align: center"><strong>不知不觉间，你发现自己头前倾了</strong></p>
<div style="color: green;text-align: center;font-weight: bold;font-size: 18px">头前倾</div>
<img>
<p>头颈部的理想排列是在最小的肌肉作用下将头部维持在一个良好的位置，我们头部的正常位置是眼睛平视前方时头部处于水平位置，颈部轻微前屈，上背部轻微后伸。从侧面看，耳垂应该在肩锁关节的正上方。当头部前倾时，颈椎前凸曲度增大，耳垂会明显向前超出肩锁关节。</p>
<p>在当下追求“天鹅颈”的审美趋势下，头前伸会让人显得气质全无。不仅如此，头前伸还有这些危害：</p>
<p>颈椎位于脊柱的最上端，需要支撑头部，因此颈椎会更靠近头部的重心轴。头前伸会使颈椎偏离重心轴，使关节突关节承受较大的压力，长此以往容易造成颈椎不稳，导致颈椎退行性改变。</p>
<p>颈部肌肉收缩和松弛可以维持颈椎的动静平衡，头前倾会造成颈肌失衡，导致颈前部屈肌肌群弹性不足，颈后部伸肌肌群僵硬，还会造成紧张性头痛，甚至伴随恶心、呕吐、视物模糊等症状。</p>
<p>头前倾时头部重心集中在椎体前部，这时候上段负重偏离躯干重心，为了将头部重心拉回躯干上方胸椎会向后屈曲代偿。同样，胸椎后凸也会造成颈椎保持在全面伸展位置，造成头前倾。这也是头前倾往往与圆肩驼背伴随发生的原因。</p>
<p>头前倾姿势时胸式呼吸的呼吸肌做功增加，过度激活辅助呼吸肌，使辅助呼吸肌反复收缩而紧张劳损，导致颈肩疼痛和上交叉综合征。</p>
<div style="color: green;text-align: center;font-weight: bold;font-size: 18px">头前倾背后的肌肉失衡问题</div>
<p>我们长时间保持伏案工作或者低头玩儿手机等不良姿势会造成颈深屈肌无力受抑制，胸锁乳突肌、斜角肌、枕下肌、颈伸肌和肩胛提肌等紧张僵硬，进而造成头前倾姿势。这时候想要纠正头前倾姿势，就要恢复颈部肌群的肌力平衡。</p>
<div style="color: green;text-align: center;font-weight: bold;font-size: 18px">如何纠正头前倾姿势？</div>
<p style="font-weight: bold">胸锁乳突肌拉伸</p>
<img>
<p>动作要领：把手绕过头顶摸对侧耳朵后，将头缓慢往同侧侧屈至最大极限后，抬起下巴，头向同侧回旋，直到感觉颈部另一侧前方的肌肉拉长，保持30秒。</p>
<p style="font-weight: bold">斜角肌拉伸</p>
<img>
<p>动作要领：取坐位，双脚自然分开，腹部收紧，保持坐姿端正，以拉伸右侧为例，头部轻微向左倾斜，左手环抱头部，置于头部右侧，轻轻地将头部向左侧牵拉，配合呼吸，保持5-10秒，直到感觉颈部肌肉有拉伸感，放松5-10秒，继续将头向左侧移动。注意头部移动与脊柱在一条直线上，出现疼痛立即停止。</p>
<p style="font-weight: bold">枕下肌和颈伸肌拉伸</p>
<img>
<p>动作要领：十指交叉置于脑后颅底位置，用拇指推压颅底正下方肌肉，头部慢慢前伸，拉伸肌肉5-10秒，放松5-10秒，继续向前伸，直到感觉枕下肌群有拉伸感，重复3次。</p>
<p style="font-weight: bold">肩胛提肌拉伸</p>
<img>
<p>动作要领：取坐位，双脚自然分开，腹部收紧，保持坐姿端正，右手臂屈肘置于脑后，左手抱头置于脑后，头部朝着左膝的方向向前伸（鼻尖至膝盖方向），左手与头部产生抗阻。</p>
<p style="font-weight: bold">颈深屈肌力量训练</p>
<img>
<p>动作要领：坐在椅子或凳子上，平视前方，并完全放松。此时头部会自然前凸；缓慢且平稳地向后移动头部，直到不能再向后为止。在做这个动作时，不要将下巴翘起，保持平视前方，不要让头部向后倾斜，也不要向上看。</p>
<p style="font-weight: bold">弹力带抗阻训练</p>
<img>
<p>动作要领：端坐在椅子上，双腿分开与髋同宽，将弹力带套在头部后侧，头部保持中立位，收紧下巴。双手拉住弹力带两端，延展脊柱，头部对抗保持在原有位置，保持30秒放松，动作结束后缓慢旋转颈部。</p>



3
<p>在人体膝关节内部，存在着内侧与外侧两块新月形的纤维软骨，也就是常说的半月板。</p>
<img src="">
<p>如果一条条列举半月板的功能，那么会有一系列：吻合关节面、缓冲、提升形态稳定、营养与润滑关节、促进本体感觉等等……然而事实上，让膝关节没有了半月板就十分难熬的原因，主要还是最前面两个功能。首先，半月板填充在股骨髁（凸面）与胫骨平台之间，让两部分关节面得以吻合，使关节承压面积更大，对减震和稳定都有利。</p>
<img src="">
<p>而另一重要功能就是缓冲。半月板本身能发生形变，可以把纵向的压力转化为自身向外的环形张力，这个功能可以类比椎间盘。</p>
<img src="">
<p>切除了半月板之后，关节面承重面积减小，压强显著增大，所以后续患骨关节炎的风险更高。那么，吻合关节面和缓冲这两个功能，在膝关节运动中是如何实现的？</p>
<p>要达到这个目的，就需要半月板与膝关节的运动高度配合，可通过骨骼、韧带带动以及肌肉的拉动来实现。</p>
<img src="">
<p>膝关节最主要的运动是屈曲与伸展</p>
<img src="">
<p>但膝关节并不是简单的单轴滑车关节，而是同样能产生内旋与外旋（上图）以及轻微的被动内收和外展运动（下图）。</p>
<img src="">
<p>以上几种运动可以单独出现，但日常更常见的是以组合形式同时产生。下面具体来说，半月板是如何配合膝关节运动的。</p>
<p>有一部分学员在学习半月板运动时会死记硬背其规律，但我们并不建议这样做，最好的方式是基于理解其原理。</p>
<img src="">
<p>半月板之所以要吻合关节面，是因为股骨髁一侧是凸出的，而胫骨平台一侧并不是刚好吻合的凹面，而更接近一个平面。所以说，半月板是要匹配的其实是股骨这一侧。明确这一点之后，半月板的所有运动都可简单归结为：跟着股骨髁走。既然是跟随股骨一起运动，那么我们所说的半月板运动，实际上是指相对于胫骨平台的移动方向。先从最基本的屈伸膝讲起。在屈膝的时候，股骨会向后滚动。</p>
<p>所以为了吻合关节面，内外侧半月板也均向后侧移动。这对半月板来说也是一种自我保护，如果没有向后运动，那么后角便会被挤压在股骨和胫骨之间。</p>
<img src="">
<p>但即使有正常的后移，随着屈膝角度增大，半月板后角受力仍然会大幅上升。下蹲中从0到90度屈膝，半月板后角压力可增大约4倍，所以后角损伤的人在下蹲时可能会疼痛受限。</p>
<img src="">
<p>半月板除了被股骨带动，也会受肌肉的影响。半膜肌（上图）和腘肌（下图）分别与内外侧半月板相连，在动作中能起到拉动半月板后移的作用。当然，也可能限制其前移。</p>
<img src="">
<p>膝关节伸展时，股骨向前滚动，带动半月板也相应地向前移动，前角受到的压力逐渐增大。</p>
<img src="">
<p>肌肉在这个过程中同样可发挥作用。股四头肌在伸膝时带动髌骨上移，可通过髌骨半月板韧带间接拉动半月板前移。</p>
<img src="">
<p>在膝关节屈伸运动中，内外侧半月板会一起向后或向前移动。但在旋转运动中，情况会有所不同。</p>
<img src="">
<p>当膝关节外旋时（如大腿固定，小腿向外旋转。或脚固定在地面，大腿相对小腿内旋），内侧半月板相对胫骨平台后移（上图左），外侧则会前移（上图右）。想象半月板跟着股骨髁一起运动即可。</p>
<img src="">
<p>当膝关节内旋时，则内侧半月板前移（上图左），外侧半月板向后运动（上图右）。</p>
<img src="">
<p>由于膝关节旋转的轴线位于胫骨偏内侧，所以无论内旋还是外旋，胫骨外侧转动的路径都比内侧大，相应来讲，外侧半月板的运动幅度也比内侧更大。半月板移动的幅度大概在几毫米，除了外侧比内侧更灵活，往往在负重时运动幅度也会比非负重情况下更大。注意，是负重时更大。</p>
<img src="">
<p>以上都是理想状态下，半月板会产生的运动。但现实中，半月板并不一定总能跟得上节奏。</p>
<img src="">
<p>首先，当膝关节做迅猛的运动时，半月板运动很可能会滞后。</p>
<img src="">
<p>比如在快速伸膝动作中，半月板前移运动慢了半拍，那么就会被挤压在股骨和胫骨之间，容易导致损伤。导致半月板运动滞后的原因当中，肌肉协调和柔韧不足是重要因素。因此热身还是相当重要的。</p>
<img src="">
<p>另外，在膝关节做复合动作时，半月板会产生矛盾运动。</p>
<p>比如，旋转伴随屈伸时，半月板内外侧原本在屈伸中应当一起前、后移动，但旋转中又会一前一后。因此，其本身会陷入纠结、扭曲状态。</p>
<img src="">
<p>比如上图这种下蹲方式再加上快速站起，就算得上是半月板毁灭者了。</p>
<img src="">
<p>再加上各种变向跑动中的膝内翻、外翻应力，损伤风险会更高。无论是单次的暴力冲撞，还是日积月累的微小损伤让量变引起质变，都可能导致半月板最终的损伤。</p>
<p>长年竞技与训练，磨损也许难以避免。但日常运动中，充分热身、有意识保持下肢轴线良好，对预防半月板损伤还是相当有用的。</p>









4
<div style="color: #f36c24"><strong>01.这事还得从“亚洲蹲”说起</strong></div>
<p>每过一段时间，“亚洲蹲”的话题就会火上一轮。这种蹲法就是臀部尽量下沉却又悬在空中，同时用双脚保持平衡的姿势，不要出现站不稳或者蹲不到底。大多数欧美人在深蹲时脚跟都会自然离地，而亚洲式的深蹲是要脚跟着地的，这种深蹲十分稳固，蹲下后能一连保持几分钟甚至几个小时。</p>
<p>这种下蹲的姿势也不是说别的地方的人做不了，而是这蹲姿在亚洲是如此普遍，在西方又是如此稀有，让它获得了“亚洲蹲”的别名。</p>
<div style="color: #f36c24"><strong>02.如何评估足背屈受限呢？</strong></div>
<p>首先需要受试者双手叉腰，测试脚的脚趾踩在评估地垫圆心90度线后，第二脚趾冲向纵轴线。另外一只脚，放置在测试脚的斜后。</p>
<img src="">
<img src="">
<p>受试者测试脚的脚跟不抬起的情况下，膝盖尽量前顶，折叠尺对膝盖前顶距离进行测量。</p>
<img src="">
<div style="color: #f36c24"><strong>03.评估结果说明了什么？</strong></div>
<p>根据美国马萨诸塞州波士顿大学神经肌肉研究实验室研究结果发现如果脚踝背屈成绩小于10厘米，与股后二头肌损伤相关。</p>
<img src="">
<p>前十字韧带断裂的患者，脚踝背屈能力受限。脚踝背屈能力跟临床可见的运动损伤具有相关性。</p>
<img src="">
<p>脚踝背屈能力受限者，有4.6倍的更大几率发生趾跖关节骨折、脚踝扭伤、跟腱损伤和小腿压力综合症的问题。</p>
<img src="">
<p>研究人员还发现动踝关节背屈活动范围越大，膝关节屈曲位移越大，膝关节活动范围越小。</p>
<img src="">
<p>着陆时的地面反作用力，可能与前交叉韧带损伤的风险降低有关。增加足背屈运动范围有助于减少前交叉韧带损伤。</p>
<img src="">
<div style="color: #f36c24"><strong>04.如何改善足背屈受限？</strong></div>
<p>第一步：筋膜球放松足底筋膜30s（找到痛点持续按压）</p>
<img src="">
<p>第二步：筋膜枪放松深层肌肉30s</p>
<img src="">
<p>第三步：弹力带挤压脚踝动作3*30s</p>
<img src="">
<img src="">
<p>第四步：弹力带拉伸小腿后侧肌肉3*15s</p>
<img src="">
<div style="color: #f36c24"><strong>05.从解剖学看为什么蹲不下去？</strong></div>
<p>美国加州的布莱恩教授说道：“下肢的活动大部分是一类似多重弯曲运动，你的髋、膝和脚踝都能够弯曲，也就是说如果一个地方的活动度失常就会造成很多潜在的损伤风险。”</p>
<img src="">
<p>在解剖学上，脚踝是人类足部与腿相连的部位，组成包括7块跗骨加上足部的其他骨骼和小腿的骨骼。</p>
<img src="">
<p>足背屈就是脚尖向上翘的动作，相反的方向绷直脚尖叫蹠屈。</p>
<p>正常足背屈的角度为0-20度，蹠屈角度为0-60度。</p>
<img src="">
<p>一般来说，大部分足背屈受限的人，基本都没法完成“亚洲蹲”。</p>






6
<p>经常会听到有人抱怨肩痛</p>
<p>五六十岁的人不在少数二三十岁的也大有人在</p>
<img>
<p>在身体的所有部位中肩膀的使用范围最广无论是站着还是坐着好像都离不开它因此也是一个容易受伤的部位</p>
<img>
<p>人们对肩痛的认知度并不太高觉得忍一忍就能过去了并不是什么大事常常延误治疗并且浑然不自知</p>
<div></div>
<p>今天我们就再来谈谈肩痛既不是关节炎也不是滑囊炎更不是肌腱炎而是<span style="color: green">三角肌的劳损</span>一种<strong>慢性的肌肉痛</strong>虽不是什么“大病”但也能让人疲惫不堪</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">1</div>
<div style="text-align: center;font-weight: bold;color: green;font-size: 18px;">快速了解三角肌</div>
<p>三角肌是覆盖着肩膀前面关节的最外层肌肉，是最容易受到损伤的肌肉，也是保护其它肌肉的重要肌肉。</p>
<img>
<p>三角肌包括前、中、后三部分，起端分别在锁骨、肩峰和肩胛骨；止端则位于肱骨外侧。</p>
<img>
<p>前三角肌能将手臂向前抬，后三角肌能将手臂向后延展。这两部分的肌肉互为拮抗肌，简单来说就是，其中一条收缩，另一条则会伸展。侧三角肌（三角肌中束）则能让手臂外展。</p>
<p>如果前三角肌僵紧，会限制手臂往后延展；</p>
<p>如果后三角肌僵紧，则会限制手臂高举过头；</p>
<p>如果侧三角肌僵紧，则会影响横越身体的动作，就好比瑜伽中的鹰式；</p>
<p>如果三角肌无力，则无法用双手支撑举身体。</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">2</div>
<div style="text-align: center;font-weight: bold;color: green;font-size: 18px;">三角肌触发点引起的症状</div>
<p>大多数疼痛出现在手臂活动时，比如吃饭、平举手臂，向后伸手拿物品等等，在不活动时，很少出现痛感。</p>
<img>
<p>痛感一般位于<strong>触发点上或触发点附近</strong>。三角肌的触发点往往是<strong>卫星触发点</strong>，是由<strong>斜角肌、胸大肌或肩袖肌群的触发点引起的</strong>，这些肌肉的触发点将疼痛传递到肩部的前面、后面和侧面。<strong>三角肌触发点大部分都出现在中束</strong>，因为这是三角肌最大的一个部分，也是最辛苦的一个部分。</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">3</div>
<div style="text-align: center;font-weight: bold;color: green;font-size: 18px;">哪些行为最伤三角肌</div>
<p><strong>~游泳、滑雪及打球等需要肩部用力收缩的运动</strong></p>
<p><strong>~长时间举起比较重的工具工作以及不停地向各个方向伸手</strong></p>
<p><strong>~为别人按摩或自我按摩、经常抱孩子等行为</strong></p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">4</div>
<div style="text-align: center;font-weight: bold;color: green;font-size: 18px;">如何预防和改善三角肌劳损</div>
<p>1、尽可能减少三角肌的反复收缩，减少抬起手臂的动作</p>
<p>2、对于久坐办公人群来说，键盘放置太高会使三角肌疲劳，最合适的姿势是肘部内收，键盘与肘部处于同一水平位置，尽量坐有扶手的椅子，让肘部得到支撑</p>
<p>3、推荐一些日常训练方法</p>
<p style="color: #ec9053"><strong>网球松解</strong></p>
<img>
<p>靠墙站立，网球置于三角肌任何一个位置来回滚动按摩。</p>
<p style="color: #ec9053"><strong>肩部整体伸展</strong></p>
<img>
<p>双手向后抓住椅子背，肩膀左右向前伸以后，两侧再同时前伸。</p>
<p><strong>ps:</strong>该动作不仅对三角肌有作用，肩关节前面的大部分肌肉、肱二头肌以及胸大肌都可以拉伸到。</p>
<p style="color: #ec9053"><strong>三角肌前束拉伸</strong></p>
<img>
<p>挺胸站立，双臂伸直置于体后，双手交叉相扣，上半身向下至与地面平时，同时带动手臂向上拉伸。</p>
<p style="color: #ec9053"><strong>三角肌中束拉伸</strong></p>
<img>
<p>拉伸一侧手臂置于体前，另一侧手臂屈肘扣住拉伸侧手臂，保持10-30秒。</p>
<p style="color: #ec9053"><strong>三角肌后束拉伸</strong></p>
<img>
<p>拉伸一侧手臂置于体前，另一只手屈肘固定住拉伸侧手臂的肘后方，手臂顺着身体向斜上方倾。</p>
<p style="color: #ec9053"><strong>肩胛区域稳定性训练</strong></p>
<img>
<p>取站立位，单手握紧弹力带一侧，另一侧踩于同侧脚下，用力向上拉弹力带，然后缓慢复位。注意过程中不要耸肩，可根据情况调节松紧程度来增加阻力大小。</p>
<img>
<p>取站立位，将弹力带固定于身体左侧方向某固定位置，进行肩内旋、外旋对抗运动，过程中保持弹力带与地面平行，可根据情况调节松紧程度来增加阻力大小。</p>
<img>
<p>站立推墙进行肩胛骨前伸后缩的运动。</p>
<img>
<p>跪在垫上，用手肘支撑在瑞士球上。伸髋伸膝，双肘和双脚形成四个支撑点，肩部、臀部和腿部呈一条直线，尽可能保持较长时间。</p>
<img>
<img>
<img>
<img>
<p>YTWL训练，激活背部肌肉，增加肩胛骨稳定性。</p>

7
<p>众所周知，物理治疗界的一代一代物理治疗师秉承着用自己具体而特定的方式（自己想象哈）来看待自己的工作。这种教条式的培训和教学成为阻止我们用现代循证观点来看待疼痛管理和物理治疗的重要原因。这就如同我们看地平线时只看到天际那一线，而看不到全部。过去的30年，我们就像鸵鸟一样把头放进沙子，对研究进展充耳不闻，例如，疼痛影响因素的研究证实疼痛通常是多因素的，而我们却不曾关心。对此，真正受影响的是我们的患者，因为当治疗他们的物理治疗师都很局限时，势必不能帮他们找到更多解决病痛的方法。</p>
<p>下面是近些年关于疼痛管理的20个新观点，供广大物理治疗师打开思路。这些观点是作者的如实整理，还需各位自行汲取。也不代表枫叶之国话康复的观点。</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#1</span>&nbsp;疼痛通常受到情绪，精神和感受器感受机制的影响，我们的治疗必须反映这些因素。</p>
<p><span style="color: #f6a146;font-weight: bold">#2</span>&nbsp;大多数专业人员缺乏关于疼痛的全面而科学的观点，经常表现为一无所知。</p>
<p><span style="color: #f6a146;font-weight: bold">#3</span>&nbsp;由于教育传统以及历史沿革，我们通常倾向于保持大多数目前在用或在学的假设，而缺乏对这些假设的有效性进行反复评估。</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#4</span>&nbsp;工具箱式的疼痛管理方法并没有能提供最优的治疗方法，治疗结果也通常依赖那些不太可信也不太科学的治疗措施。</p>
<p><span style="color: #f6a146;font-weight: bold">#5</span>&nbsp;运用科学方法看待疼痛管理的最大障碍在于专业人员人在使用老式的教条式的方法看待我们的身体，而这种方法一代一代往下传递。</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#6</span>&nbsp;疼痛是受多因素影响的多维度的体验，我们的治疗需反映这些因素和维度。</p>
<p><span style="color: #f6a146;font-weight: bold">#7</span>&nbsp;如果仅仅采用生物医学思维治疗疼痛，这并非最优的疼痛管理。</p>
<p><span style="color: #f6a146;font-weight: bold">#8</span>&nbsp;疼痛（无论是急性还是慢性）由生物心理社会的多因素所致，因此它受患者观念，期望，经历和预期等因素影响，我们的治疗应该反映这些因素。</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#9</span>&nbsp;身体的疼痛并非具体的某一个“东西”，但许多治疗方法都将疼痛视为一种“东西”，就像肾脏或髌骨这类具体事物，然后予以运用。这种错误观念使得物理治疗师总是想方设法来对付这个叫做疼痛的具体“东西”，而忘了疼痛实际是一种体验。这就如同你去挪威看了一次极光（这是一种体验），然后你在家中在自己的膝关节上反复寻找极光在哪里。</p>
<p><span style="color: #f6a146;font-weight: bold">#10</span>&nbsp;专业人员关于治疗效果以及如何让未来的治疗方法更加有效的讨论已经很多。然而，我们总是对已有治疗方法说“好”，这并不能提高治疗效果。相反，有些医疗水平的提高是靠对低效的治疗方法说“不”来实现的。</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#11</span>&nbsp;通常我们都认为运动中一个错误动作造成损伤和疼痛，治疗也就局限于此。但是大多数专业人士忘记了运动性疼痛的特异性原则（specificity principle），在这个原则中，强调受伤后的训练需从常规性的宽泛训练过渡到针对性的具体训练。</p>
<p style="font-size: 16px;font-weight: bold">特异性原则（Specificity Principle）</p>
<p>该原则强调受伤后的训练需从常规性的宽泛训练过渡到针对性的具体训练。同时也指患者为使某个特定技能或运动更加改善，需反复加强该技能或运动的练习。例如患者在打高夫时腰背部受到损伤，练习需集中在挥杆期的腹直肌，竖脊肌，腹斜肌同步激活上。</p>
<p><span style="color: #f6a146;font-weight: bold">#12</span>&nbsp;目前，疼痛管理的一个大问题是错误的临床归因正处于流行态势。这是一种广泛流行的非科学思维和非理性思维。这表现在，当专业人员面对新的证据与他们既往的方法有冲突时，他们通常使用非理性的回答，例如“我不管，我知道我的方法是在起作用的”或者“我不管，我曾经看到过疗效”</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#13</span>&nbsp;结构和生物机制性的改变并非治疗疾病的终极目标。大多数影像学上所谓异常发现经常存在于无症状的个体中。</p>
<p><span style="color: #f6a146;font-weight: bold">#14</span>&nbsp;疼痛并非单一因素所致，原先认为的那些单个影响因素，经常存在于正常人群中。例如不良姿势，前倾的骨盆，核心肌群乏力，骶髂关节移位，肌肉紧张，错误的运动方式等等以及其他所谓的生物机制性问题。</p>
<p><span style="color: #f6a146;font-weight: bold">#15</span>&nbsp;人体和人体运动就像指纹一样，具有每个个体的独特性。因为存在这种高度变异性，所以在步态，跑步和运动中找出“错误之处”的说法是有问题的。</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#16</span>&nbsp;个人的临床经验是不可靠的，因此我们不能基于个人经验得出可靠和科学的假设。</p>
<p><span style="color: #f6a146;font-weight: bold">#17</span>&nbsp;“我知道它（某疗法）是在起作用的“并不是一个专业人士提供给患者医疗服务的理由。我们必须做得更好，正如，“能力越强，责任越大。”</p>
<p><span style="color: #f6a146;font-weight: bold">#18</span>&nbsp;安慰剂效应不能成为那些“神奇的”伪科学和证据可疑的治疗方法的保护伞。</p>
<img>
<p><span style="color: #f6a146;font-weight: bold">#19</span>&nbsp;大部分的关于站姿或坐姿的人体工程学建议都是基于陈旧的数据，并错误的使得不良姿势带来的应力将导致损伤和疼痛深入人心。这种建议和S.A.I.D原则（ SpecificAdaptation to Imposed Demands）相违背。我们不能说举重时运动员能慢慢适应重量的增加，而到普通人时，就说坐着头部前伸就不能适应了，这显然是不合逻辑的。</p>
<p style="font-size: 16px;font-weight: bold">S.A.I.D原则</p>
<p>为Specific Adaptation toImposed Demands的缩写。意思是当身体处在某种应力之下，身体会慢慢适应这种应力并使得以后能更好地经受住它。这种适应过程并不是某单个机制作用的结果，而是大量独立作用的机制综合后的一种身体普遍趋势反应。</p>
<p><span style="color: #f6a146;font-weight: bold">#20</span>&nbsp;精神心理因素，例如抑郁，疼痛相关性恐惧等对慢性疼痛的影响更甚于大多数的生物机制或生物医学因素。</p>
<p style="font-size: 16px;font-weight: bold">作者介绍：</p>
<p>Lars Avemarie，注重循证医学证据的物理治疗师，有近10年的工作经验。在损伤和慢性疼痛方面有自己独特的见解。他将其在疼痛科学，神经科学，物理治疗，循证医学，运动练习，康复，睡眠研究等多方面的知识进行综合并作出自己的独立思考。</p>







5
<p style="text-align: center">闲静时如姣花照水，行动处似弱柳扶风</p>
<p style="text-align: center">短短两句，写出了林黛玉的风姿绰约，楚楚动人</p>
<p style="text-align: center">但低头看了一眼自己的大腿之后</p>
<p style="text-align: center">我深知自己与纤细柔弱之美毫无瓜葛</p>
<p style="text-align: center">试问谁不想拥有又细又直的大长腿呢？</p>
<p style="text-align: center">“但实力他不允许呀~”</p>
<p style="text-align: center">今天我们就一起来刨根问底</p>
<p style="text-align: center">揪出腿粗的真正原因！</p>
![](/upload/12月/ks-40d490c5f9dc44dba8595bb50dfe16d2.jpg)
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">1</div>
<div><strong>脂肪堆积</strong> </div>
<p>
    由于雌激素的原因，女性更倾向于在臀部和双腿存储脂肪，尤其是大腿部位。所以通常情况下只要你胖了，你的大腿一定是最先表现出来的。你藏在大腿部位的肥胖纹就是体重快速增长时腿围变化的最好证明。这种原因导致的腿粗是均匀的粗~
</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">2</div>
<div> <strong>走路时伸髋不足</strong> </div>
<p>人体在步行时臀大肌负责稳定骨盆，控制躯干向前并维持髋关节处于伸展位，腘绳肌协助臀大肌工作。而股四头肌作为髋关节屈肌则负责提拉起下肢，使下肢向前摆动。当臀大肌、腘绳肌无力或行走时伸髋不足（也就是蹬腿不足），前行主要依靠大腿前侧的股四头肌屈髋来完成，久而久之，大腿前侧肌肉越来越发达，臀部肌肉越来越无力。这种原因导致的腿粗是大腿外侧突出，臀部扁平，还会造成膝超伸，小腿肚也会突出~</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">3</div>
<div><strong> 核心肌群无力</strong></div>
<p>核心肌群就是附着在腰椎-骨盆-髋关节联合体上的肌肉。很多研究证明，深层核心肌群在进行躯干和上、下肢活动时会被预先激活收缩，从而起到预先稳定腰椎和躯干的作用，为躯干和下肢的功能性活动做准备，为下肢正确的力学平衡打基础。当核心肌群无力时，下肢肌群在行走时不仅要承担上半身的重量，还要做更多的功来维持身体的平衡，久而久之，腿部的肌肉也就越来越发达，大腿也就越来越粗了。这种原因导致的腿粗也多是大腿外侧突出~</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">4</div>
<div><strong> “假”胯宽</strong></div>
<p>“假”胯宽是指骨盆下侧，大腿上侧骨盆衔接处突出的体态问题。当髋关节过度内旋时，大腿外侧肌肉参与程度过高，久而久之越来越发达，最终导致股骨与身体中心线偏离角度加大、股骨大转子出现明显突出。因为错把股骨大转子突出的地方认成了髋，所以在视觉上缩短了腿的长度，也因此让我们的腿看上去又短又粗。</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">5</div>
<div><strong> 足底肌群无力</strong> </div>
<p>足底肌肉无力，我们在行走时脚趾就不能有效的抓蹬离地，并且不能有效的维持足部的稳定。这时候就会发动小腿肌肉来代偿，久而久坐造成小腿肌肉的过分使用。这时候的腿粗主要集中在小腿，小腿肚比较发达。</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">6</div>
<div><strong> 长期穿高跟鞋</strong></div>
<p>长期穿高跟鞋会使小腿后部的肌肉持续缩短，久而久之让我们的小腿又短又粗。</p>
<div>
    <div><strong>怎样才能让我们的腿瘦下来呢？</strong> </div>
</div>
<div><p>1.全面减脂</p></div>
![](/upload/12月/ks-80fef0c4d7424c5ead11c2e253e01b2b.jpg)
<p>全面减脂的原因是局部瘦基本上是不存在的。我们需要通过饮食结构调整和中高强度全身训练来减脂，减少脂肪在大腿部位的堆积。</p>
<div><strong><p>2.各个击破</p></strong></div>
<p><strong>【核心力量训练】</strong></p>
![](/upload/12月/ks-d175cda6bc8a4634b9eaf6cde1653ddc.jpg)
<p>动作要领：仰卧位，屈膝，双腿微微分开，双脚踩实。双手扶在大腿上，用腹肌的力量将肩部和上背部抬离地面，双手碰触膝盖后，缓慢回到起始位置。摸膝时，下背部保持紧贴地面，双臂始终伸直。</p>
![](/upload/12月/ks-25109345ebc34c79aeb0aa8a15f582c6.jpg)
<p>动作要领：取仰卧位，双手平铺在身体两侧。双腿弯曲，双脚与肩同宽放在地上。收缩腹部，将肩膀抬起，下背部贴地，上身向身体一侧倾斜，用手去触摸同侧的脚跟，同时呼气。摸到脚跟后停留1秒，然后换另一侧重复以上动作。</p>
![](/upload/12月/ks-932b1d78e8dc4107873c754d5c0a41c5.jpg)
<p>动作要领：下背部紧贴地面，核心收紧，在保持脊柱稳定情况下，利用瑞士球交替活动对侧上下肢。</p>
![](/upload/12月/ks-579e3cad332d421eaaead156e560b954.jpg)
<p>动作要领：四点跪姿，保持臂、腿垂直地面，躯干平行地面，抬起的臂、腿与躯干在同一水平面，控制身体平衡稳定，保持5~10s,还原，换另一侧进行。</p>
<p><strong>【臀大肌、腘绳肌力量训练】</strong></p>
![](/upload/12月/ks-ab88eaacc2174ab9a49e33de75f04c8e.jpg)
<p>动作要领：取站立位，吸气重心前移，双手向前伸直抬后方腿，向后伸直呼气，落腿向下，脚尖点地下方腿伸直，吸气再次抬腿向上配合呼吸，动态练习10组，换反侧重复。</p>
![](/upload/12月/ks-b38e6d1ff50f4e07b7c9433b2740af12.jpg)
<p>动作要领：取俯卧位，弹力带固定在一侧脚踝上，屈膝提起脚踝，弹力带提供阻力。</p>
<p><strong>【髋内收肌力量训练】</strong></p>
![](/upload/12月/ks-d11ce32493c84f8b9a24c79b7ae93d2d.jpg)
<p>动作要领：取仰卧位，屈髋屈膝，足跟支撑，双膝中间夹一软垫，先收紧臀部再抬高，同时双膝夹紧垫子，每次维持3-5个深呼吸，20个/次。</p>
<p><strong>【足底肌力训练】</strong></p>
![](/upload/12月/ks-66c714bd39494c58ab9f4eb822271aa7.jpg)
<p>动作要领用脚抓弹力带或者毛巾，激活足底屈肌。</p>
<p><strong>【放松股四头肌】</strong></p>
![](/upload/12月/ks-9902fb9295104726908bf1fa5992b34b.jpg)
<p>动作要领：动作要领：俯卧位，双腿并排放在泡沫上，双臂支撑地面，拉动身体在大腿前部上下滚动泡沫轴,持续30s。注意在做的过程中深呼吸，放松肌肉。</p>
![](/upload/12月/ks-0f95218339244f2798912f734b6e4fc6.jpg)
<p>动作要领：取站立位，一侧手握住同侧脚，将该侧脚轻轻拉向臀部，保持10~20s，如果不能保持平衡可以找一固定物扶好。</p>
<p><strong>【放松小腿后侧肌肉】</strong></p>
![](/upload/12月/ks-77d49b2a10974e3f9c442d8d4b9c2af8.jpg)
<p>动作要领：泡沫轴放置于小腿后侧，双手支撑，腹部收紧，在膝与踝之间来回滚动，滚动30s。注意在做的过程中深呼吸，放松肌肉。</p>
![](/upload/12月/ks-96f5aed55e7c430faf4a50355d291018.jpg)
<p>动作要领：弓步站立，一腿在后，一腿在前，脚尖朝前，前侧腿屈膝，拉伸后侧侧小腿，直到小腿后部有明显拉伸感。保持30s，重复3次，换方向。注意后侧腿和躯干始终保持伸直。</p>


8
<p>跑步作为一种简单便捷的运动，深受大众的喜爱。但是，不管是专业的运动员，还是爱好跑步的普通人，在跑步的过程中都可能会出现一些伤痛。</p>
<p>跟腱疼痛是跑者遇到的常见伤痛之一，处理不当往往造成病情迁延，形成顽固性疼痛。</p>
<img>
<div style="font-weight: bold;font-size: 18px;color: #f30f0f">跟腱疼痛产生的原因</div>
<p>跟腱疼痛属于非常典型的过度使用损伤。在跑步过程中，跟腱要承受高达8~12倍体重的作用力，也就是说跟腱受到了巨大力量的反复牵扯，导致轻微创伤反复发生，引发跟腱力学衰竭，并随之发生结构改变，疼痛自然难以避免。</p>
<p>跑者常常听说的“跟腱炎”这一术语并不准确，事实上跟腱局部并不存在炎症细胞，所以定义为“跟腱病”更为精准。跟腱病频繁发生在两个位置：跟腱腱体上疼痛（距离跟腱止点近端2~6厘米）；跟腱止点疼痛。本文主要讨论腱体疼痛。</p>
<div style="font-weight: bold;font-size: 18px;color: #f30f0f">跟腱腱体疼痛的症状</div>
<p>跟腱疼痛当然是跟腱病最主要的症状，但是疼痛还有具体表现。</p>
<p>&nbsp;•&nbsp;长时间不活动（例如睡觉、长时间静坐）之后，跟腱出现局部疼痛并感觉僵硬，活动一下后缓解。</p>
<p>&nbsp;•&nbsp;刚开始运动时感觉跟腱疼痛，活动开后疼痛减轻，但快要结束时又感到疼痛，也就是活动起始、结束痛，但随着病情进展，疼痛可能伴随整个运动过程，因此对活动造成很大困扰。</p>
<p>&nbsp;•&nbsp;上下楼梯、蹑足行走时疼痛加重。</p>
<div style="font-weight: bold;font-size: 18px;color: #f30f0f">治疗跟腱炎的方法</div>
<p style="font-weight: bold;font-size: 16px;">康复训练</p>
<p>康复训练对于跟腱病是最有效的治疗方式，但前提是跑者得把康复训练做正确。跟腱病康复方式主要是离心训练。</p>
<p style="font-weight: bold;font-size: 16px;">理疗</p>
<p>在诸多理疗方式中，低水平激光治疗和离子渗透疗法最为有效，而近两年广为采用的冲击波疗法研究报道存在争议。</p>
<img>
<p style="font-weight: bold;font-size: 16px;">拉伸</p>
<p>反复持续的拉伸也有助于改善勾脚尖幅度不足的情况。</p>
<p style="font-weight: bold;font-size: 16px;">足矫形器</p>
<p>以矫形鞋垫为代表的足矫形器对于扁平足同时伴随脚踝力线异常的跑者有一定帮助，因为这样可以改变跑步时错误的脚踝受力。</p>
<p style="font-weight: bold;font-size: 16px;">贴扎</p>
<p>以肌贴为代表的贴扎可以减少跟腱张力，越来越多的跑者采用肌贴这一可以随意灵活使用的工具。</p>
<div style="font-weight: bold;font-size: 18px;color: #f30f0f">跟腱拉伸方法</div>
<p>拉伸作为最主要的放松方式，同时也是跟腱病的治疗方式，对于改善跟腱弹性，减轻跟腱压力，避免小腿肌肉紧张具有重要意义。对于跟腱病来说，拉伸要做的动作类型更多、拉伸时间更长、更彻底。</p>
<p>以下每个动作做4组，每组牵拉30秒，可以帮助治疗跟腱病。</p>
<p style="font-weight: bold;font-size: 16px;">动作一：垫上小腿拉伸</p>
<p>垫上小腿拉伸是小腿腓肠肌牵拉感最强烈的动作之一。</p>
<img>
<p style="font-weight: bold;font-size: 16px;">动作二：站姿小腿拉伸</p>
<p>站姿小腿拉伸是小腿浅层腓肠肌站立位牵拉的2个常用动作。</p>
<img>
<p style="font-weight: bold;font-size: 16px;">动作三：站姿比目鱼肌拉伸</p>
<p>站姿比目鱼肌拉伸是小腿深层比目鱼肌的牵拉动作。要求后脚踩实地面，充分屈膝，感受跟上述动作不一样的牵拉感。</p>
<img>
<p>跟腱病经过治疗和康复，有可能时好时坏、病程迁延，所以加强力量，做好跑前热身、跑后拉伸对于预防跟腱病非常重要。患有跟腱病的跑者要注意休息， 避免过多跑步刺激跟腱。</p>
<p>但需要提醒患有跟腱病的跑者，在跑前除了常规热身，也需要对于小腿和跟腱部位进行特定热身，以达到激活肌肉、减轻跟腱牵拉的作用。例如立踵行走、勾脚尖行走，各走15米，每种做一遍，就是很好的跟腱热身。</p>



9
<p>提起腰腿痛，很多人第一反应就是腰间盘突出，很少有人能够想起梨状肌综合征，接下来我们一起来学习一下梨状肌的功能解剖知识和治疗手法！</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">1</div>
<p><span style="color:green"><strong>梨状肌在什么位置</strong></span> 臀部的肌肉丰满、结实，臀区的结构除皮肤及浅筋膜外，共分为４层：第１层为臀大肌和皮神经；第２层为臀中肌和梨状肌；第３层为血管神经束；第４层为臀小肌、上孖肌、闭孔内肌腱、下孖肌及股方肌。</p>
<img>
<p>梨状肌是臀中深层的一块小肌肉，形状像梨。它位于骨盆后壁，起于第2～4骶椎前面骶孔外侧缘，沿骨盆壁向外下行，穿过坐骨大孔将该孔分成梨状肌上孔与下孔，止于股骨大转子上缘和内侧面。</p>
<p>梨状肌是跨关节肌肉，它的主要作用是近固定时使大腿旋外和外展，远固定时两侧同时收缩可以使骨盆后倾</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">2</div>
<p><span style="color:green"><strong>什么是梨状肌综合征</strong></span> 梨状肌形状为三角形，属于臀部深层肌，起自部分骶骨前端，终止于股骨大转子，主要作用是配合臀部内外相关肌群以完成由骶神经支配的下肢外展及外旋动作。</p>
<img>
<p>梨状肌综合征是由于梨状肌充血、水肿、痉挛、肥厚的刺激或压迫坐骨神经以及解剖变异，引起以一侧、双侧臀部酸胀、疼痛，伴大腿后侧或小腿后外侧放射性疼痛，甚至活动受限等为主的临床综合征。</p>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">3</div>
<p><span style="color:green"><strong>7步鉴别梨状肌综合征</strong></span></p>
<p><span style="color:#fa7739">1、梨状肌试验</span>，患者仰卧休息时，患肢外旋，当主动旋转至中立位时诱发坐骨神经痛为阳性</p>
<p><span style="color:#fa7739">2、Lasegue征</span>，患肢处于屈髋伸膝位时诱发坐骨神经痛为阳性</p>
<p><span style="color:#fa7739">3、Freiberg征，</span>患侧髋关节被动内旋时诱发坐骨神经痛为阳性</p>
<p><span style="color:#fa7739">4、Pace征及屈曲内收内旋（FAIR）试验，</span>患肢处于屈髋屈膝位，内收、内旋患髋关节时诱发坐骨神经痛为阳性</p>
<p><span style="color:#fa7739">5、Beatty试验，</span>患者健侧卧位，抬高患膝后诱发坐骨神经痛为阳性</p>
<p><span style="color:#fa7739">6、超声，</span>可显示梨状肌的纵、横断面各径线及面积增大，梨状肌内部呈不均匀低回声，部分可见包膜表面不光滑地增厚，局灶性回声增强，偶可探及带状液性暗区</p>
<p><span style="color:#fa7739">7、MRI，</span>表现为梨状肌肥大，神经血管样组织骑跨，信号为脂肪及纤维条索的混合影像学表现；梨状肌变小，纤维束较正常偏细，周围脂肪化性质的软组织显示梨状肌病变</p>

<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">3</div>
<p><span style="color:green"><strong>手法处理梨状肌综合征</strong></span></p>
<p><strong><span style="color:#fa7739">【梨状肌】</span></strong></p>
<img>
<p>按压</p>
<p>&nbsp;•&nbsp;患者俯卧，治疗师立于患者髋旁。</p>
<p>&nbsp;•&nbsp;将拇指辅助拇指置于大转子与骶骨之间的中点。</p>
<p>&nbsp;•&nbsp;用力压入组织，寻找压痛点。保持至放松。</p>
<p>&nbsp;•&nbsp;用此方法探查全部肌肉，从骶骨底直到大转子附着点。</p>
<img>
<p>拉伸结合按压</p>
<p>&nbsp;•&nbsp;患者俯卧，治疗师立于患者髋旁。</p>
<p>&nbsp;•&nbsp;将一只手的指关节置于臀部大转子旁，向前中部用力按压。</p>
<p>&nbsp;•&nbsp;另一只手抓住患者足踝部，屈膝呈90°。</p>
<p>&nbsp;•&nbsp;指关节持续按压梨状肌，将患者下肢拉向治疗师，旋转髋关节至内旋。</p>
<p><strong><span style="color:#fa7739">【股方肌】</span></strong></p>
<img>
<p><strong>按压</strong></p>
<p>&nbsp;•&nbsp;患者仰卧位，治疗师立于患者旁边，膝盖处位置。</p>
<p>&nbsp;•&nbsp;治疗师拇指置于臀部中间，介于坐骨结节和大转子中间。</p>
<p>&nbsp;•&nbsp;向上按压，寻找压痛点。按住直至放松。</p>
<p><strong><span style="color:#fa7739">【臀部肌肉】</span></strong></p>
<img>
<p><strong>肌筋膜拉伸</strong></p>
<p>&nbsp;•&nbsp;患者俯卧位，治疗师靠近腰部，面向患者。</p>
<p>&nbsp;•&nbsp;将手侧放置于患者臀部，手指指向下方。</p>
<p>&nbsp;•&nbsp;另一手朝相反方向，置于髂嵴之上。掌部用力，朝两个方向深度地分推。</p>
<p>&nbsp;•&nbsp;保持直至感觉到手下的肌肉组织已放松，再缓缓放开。</p>
<img>
<p><strong>剥离</strong></p>
<p>&nbsp;•&nbsp;患者俯卧位，治疗师立于患者旁边，靠近患者胸部的位置。</p>
<p>&nbsp;•&nbsp;一手手掌置于臀部髂嵴之上，髋骨之后，拇指指向下方。</p>
<p>&nbsp;•&nbsp;掌根用力，深深地压揉组织，使手掌滑行于肌肉至最深处。</p>
<p>&nbsp;•&nbsp;继上一起始点的外侧重复此操作，直至整个臀部都覆盖到，包括臀大肌至髂胫束的附着点以及髂关节边缘的臀小肌。</p>
<p>&nbsp;•&nbsp;可以用指关节指尖或辅助拇指完成此操作。</p>
<p>&nbsp;•&nbsp;用力压入组织，来回移动你的拇指，寻找疼痛的区域。保持放松。</p>
<p>&nbsp;•&nbsp;在整个臀部探查臀肌肌肉。</p>
<p>提示大家注意预防梨状肌受伤，如在运动中注意运动规范，避免暴力或者不协调动作造成梨状肌损伤，避免久坐、久站和长时间深蹲，下蹲弯腰搬重物时注意体位等。</p>









10
<p>相比膝后痛，我们在临床上更常碰到的是膝前痛患者。虽然膝后痛相对少见，但不意味着就能忽视这一块。我们就曾遇到过一位办公室女白领，她称自己膝关节后侧疼痛很久，而我们则把目光集中在了她的高跟鞋上。</p>
<img>
<p>高跟鞋跟膝后痛有关系吗？还真的有！长期穿高跟鞋，很可能会引起肌肉筋膜挛缩，造成小腿三头肌损伤，进而导致膝后痛。除了这个原因外，大腿腘绳肌损伤也会引发膝后痛。今天我们就要讲讲，这两种损伤各自的原因，以及对应的康复训练方法。</p>

<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">1</div>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">腘窝的结构与功能</div>
<p style="color:green"><strong>Ⅰ&nbsp;解剖</strong></p>
<p>我们膝关节后面的凹陷区域，就是腘窝，腘肌位于腘窝，是腓肠肌深处的一块肌肉。这个部位的结构组织相对比较复杂，所以，不同的组织出现损伤，都可能会引起腘窝的疼痛。</p>
<img>
<p>在膝关节运动中，腘肌起到了非常大的作用。在膝关节弯曲的时候，腘肌与腘弓韧带将外侧的半月板向后拉，防止外侧的半月板转入股骨与胫骨间造成损伤。同时，腘肌帮助膝关节内外侧实现动态平衡，防止膝关节的过度外旋，减小周边韧带的负担。</p>
<p style="color:green"><strong>Ⅱ&nbsp;腘肌可能造成的影响</strong></p>
<p> 1）外侧半月板的损伤</p>
<p> 2）造成下肢力线改变，这是因为腘肌为膝关节提供了一定的稳定性，无力的腘肌很难将胫骨维持在正确的位置，也就容易使胫骨外旋，改变下肢力线</p>
<p> 3）下肢力线的改变，自然会影响到人体的美观</p>
<p style="color:green"><strong>Ⅲ&nbsp;如何判别腘肌是否出现问题？</strong></p>
<p>1）腘窝处会出现明显疼痛或肿胀</p>
<p>2）膝关节无法正常弯曲，在下蹲、上楼等半屈膝状态下，窝处都会出现不适</p>
<p>正如本文开头所讲，引起腘窝疼痛的重要原因有两个：一是大腿后侧的腘绳肌损伤，另一个就是小腿三头肌损伤。接下来，我们将分别讲解这两种损伤的原因和康复方法。</p>
<img>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">2</div>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">大腿腘绳肌损伤和4组康复训练</div>
<p style="color:green"><strong>Ⅰ&nbsp;解剖</strong></p>
<p>腘绳肌是大腿后侧的肌群，包括半腱肌、半膜肌、股二头肌长头，腘绳肌与强有力的股四头肌相对应。其中，股二头肌帮助完成伸髋和骨盆前倾，半腱肌、半膜肌起到伸髋和屈曲内旋膝关节的作用。</p>
<img>
<p>在这些肌肉长期紧张的情况下进行跑步等运动，就很容易受到牵拉，进而引起腘窝疼。如果出现拉伤，疼痛也可能会从大腿外侧一直延伸到腘窝的位置。</p>
<p style="color:green"><strong>Ⅱ&nbsp;损伤后的处理方法</strong></p>
<p>1）&nbsp;在进行完运动后，一定要记得进行拉伸。随后可用热毛巾（水温控制在40°~50°），温敷大腿后侧和腘窝部位，来缓解肌肉的紧张。</p>
<p>2）&nbsp;早期的腘窝痛会出现压痛，此时若进行触诊，会发现腘窝上侧的肌肉摸起来有些紧绷感，这很可能是由于肌肉紧张造成的。</p>
<img>
<p>3）&nbsp;如果在走路或上下楼梯时，都感觉疼痛，甚至疼痛还延伸到了大腿后侧，那么情况就比较严重了，可以考虑出现了拉伤或发炎的情况。此时必须停止运动，坚持RICE原则：休息，冰敷，加压包扎，抬高患腿。</p>
<p>如果疼痛明显加重或情况严重，连膝关节都无法伸直，那么一定要及时到医院检查。当然了，如果在休息和恢复过程中，发觉疼痛逐渐减轻，那么在无痛的情况下，我们可以做一些简单的康复训练。</p>
<p style="color:green"><strong>Ⅲ&nbsp;4组康复训练</strong></p>
<p><strong>动作一：拉伸腘绳肌</strong></p>
<img>
<p>1）&nbsp;站姿，两脚微微分开患腿在前，脚尖向上勾，主力腿微微的弯曲</p>
<p>2）&nbsp;臀部向后向下的同时，身体向前向下拉伸腘绳肌肌群</p>
<p>3）&nbsp;保持20秒以上每组，做3~6组</p>
<p>4）&nbsp;在这个动作基础上，脚尖向内45°角同样状态下保持20秒以上每组，做3~6组</p>
<p><strong>动作二：激活和强化腘绳肌</strong></p>
<img>
<p>1）&nbsp;将弹力带套在患腿踝关节位置，身体俯卧趴在软垫上</p>
<p>2）&nbsp;患腿膝关节慢慢弯曲到90°，与弹力带形成对抗，激活腘绳肌</p>
<p>3）&nbsp;保持20秒以上每组，做3~6组</p>
<p>在这个动作基础上，可以继续做强化的练习：</p>
<p>1）&nbsp;保持阻力带紧绷的状态下，弯曲腿部大约90°角停留一秒，略微还原，直到做完最后一下在完全还原</p>
<p>2）&nbsp;重复20~30次每组，做3~6组</p>
<p><strong>动作三：强化臀中肌</strong></p>
<img>
<p>1）&nbsp;膝关节弯曲90°，让躯干、臀部和脚呈一条直线</p>
<p>2）&nbsp;两脚保持不动的情况下，始终收紧腹部</p>
<p>3）&nbsp;弹力带始终保持紧绷的状态下，双膝慢慢打开15°~30°角，再慢慢略微还原，直到做完最后一次再完全还原</p>
<p>4）&nbsp;重复进行20~30次每组，做3~6组</p>
<p><strong>动作四：伸展放松大腿后侧肌群</strong></p>
<img>
<p>1）&nbsp;身体仰卧，患腿弯曲慢慢向上伸直</p>
<p>2）&nbsp;手握腿部后侧将患腿拉向身体的同时勾脚背，拉伸大腿后侧肌群</p>
<p>3）&nbsp;保持20秒以上每组，做3~6组</p>
<img>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">3</div>
<div style="text-align: center;font-weight: bold;color: green;font-size: 26px;">小腿三头肌损伤和2组康复</div>
<p style="color:green"><strong>Ⅰ&nbsp;解剖</strong></p>
<p>小腿三头肌位于小腿胫骨后侧，由比目鱼肌与腓肠肌共同组成。比目鱼肌是深层肌肉，起自胫骨后上方，止于跟骨结节，功能是足跖屈；腓肠肌是表层肌肉，覆盖在比目鱼肌上方，起自股骨内外侧髁，止于跟骨结节，功能是膝关节屈、足跖屈。</p>
<img>
<p>我们做屈小腿、上提足跟等动作时，都会用到小腿三头肌。在站立时，三头肌能固定踝关节和膝关节，以防止身体向前倾倒。</p>
<p style="color:green"><strong>Ⅱ&nbsp;2组康复训练</strong></p>
<p><strong>方法一：泡沫轴放松小腿三头肌</strong></p>
<img>
<p>1）&nbsp;仰卧上身弯曲，将双侧小腿置于泡沫轴上方</p>
<p>2）&nbsp;双手将身体撑离地面，以手为轴心，下肢重心放置小腿，来回在泡沫轴上进行放松</p>
<p>3）&nbsp;重复进行20~30次每组，做3~6组</p>
<p><strong>方法二：拉伸小腿 </strong></p>
<img>
<p>1）双手支撑墙壁，患侧在后，健侧膝盖屈曲约90°</p>
<p>2）将健侧膝盖向前屈曲，从而拉伸患侧小腿三头肌，患侧脚跟不离地</p>
<p>3）坚持20~30秒，做3~6组</p>






</body>
</html>