<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruyi.dao.ArticleMapper">
    <select id="getarticleinfo" resultType="article">
        select * from articlerecommend
    </select>

    <insert id="insetarticleInfo" parameterType="article">
        insert into
        articlerecommend(Article_id,Article_type,Article_title,Article_context,Article_time,Article_author,Article_viewnumber,Article_compliment,Article_img,Article_note)
        values(#{Article_id},#{Article_type},#{Article_title},#{Article_context},#{Article_time},#{Article_author},#{Article_viewnumber},#{Article_compliment},#{Article_img},#{Article_note})
    </insert>

    <delete id="deletearticleInfo" parameterType="String">
        delete from articlerecommend where Article_Id=#{Article_Id}
    </delete>

    <select id="getarticleBytype" resultType="article">
        select * from articlerecommend where Article_type=#{Article_type}
    </select>
    <select id="getarticleBytitle" resultType="article">
        select * from articlerecommend where Article_Id=#{Article_Id}
    </select>
</mapper>